* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1366px;
    height: 3790px;
    margin: 0 auto;
    border:2px solid blue;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}


/*seccion-home*/

.log {
    position: relative;
    width: 65px;
    height: 33px;
    margin-left: 30px;
}

.header .log1 {
    width: 32px;
    height: 32px;
    background: #316099;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
}

.header .log2 {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 2px solid #316099;
    background: white;
    position: absolute;
    margin-left: 20px;
    z-index: 10;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.menu {
    width: 366px;
    height: 28px;
    left: 917px;
    top: 51px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu a {
    font-size: 20px;
    text-decoration: none;
    margin-left: 25px;
}

.main {
    width: 1366px;
    height: 250px;
    background-image: url(../images/banner.png);
    color: white;
}

.main h1 {
    position: absolute;
    width: 305px;
    height: 74px;
    left: 531px;
    top: 180px;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 74px;
}

.main p {
    position: absolute;
    width: 780px;
    height: 60px;
    left: 293px;
    top: 270px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
}

.search {
    display: flex;
    justify-content: center;
    margin: 50px 0;

}

.search input {
    width: 940px;
    height: 56px;
    background: #F4F4F4;
    border-radius: 10px;
    padding-left: 50px;
    font-size: 16px;
}

.search img {
    position: absolute;
    left: 16.5%;
    top: 11.7%;
}

/*seccion-popular articles*/

.section:nth-child(2) {
    width: 940px;
    height: 1000px;
    margin: 40px auto;
    border-bottom:2px solid rgba(0, 0, 0, 0.2);
}

.section header h2 {
    font-size: 20px;
    line-height: 23px;
    color: #356EAD;
    font-weight: bold;
    margin-bottom: 30px;
}

main p {
    color: #000000;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

main h3 {
    font-size: 36px;
    line-height: 46px;
    font-weight: bold;
    color: #1F3F68;
}

.section main h4 {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #1F3F68;
}

.section main h5 {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #1F3F68;
}

.article1 {
    display: flex;
    flex-direction: row-reverse;
}   

.articles234 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
}

.articles234 h3 {
    font-size: 22px;
    line-height: 32px;
}

.article-creator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.article-creator .icons {
    margin-right: 40px;
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.section:nth-child(2) footer {
    text-align: right;
}

.section:nth-child(2) footer a {
    text-decoration: none;
    color: #356EAD;
    font-size: 16px;
}


/*seccion-all articles*/

.section:nth-child(3) {
    width: 940px;
    height: 1300px;
    margin: 40px auto;
}

.article5 {
    display: flex;
}

.article5 .article-contain {
    margin-left: 20px;
    margin-bottom: 20px;
}

.article5 h3 {
    font-size: 18px;
    line-height: 28px;
}

.article5 p {
    font-size: 14px;
    line-height: 24px;
    margin-right: 60px;
}

.article6 {
    display: flex;
}

.article6 .article-contain {
    margin-left: 20px;
    margin-bottom: 20px;
}

.article6 h3 {
    font-size: 18px;
    line-height: 28px;
}

.article6 p {
    font-size: 14px;
    line-height: 24px;
    margin-right: 60px;
}

.article7 {
    display: flex;
}

.article7 .article-contain {
    margin-left: 20px;
    margin-bottom: 20px;
}

.article7 h3 {
    font-size: 18px;
    line-height: 28px;
}

.article7 p {
    font-size: 14px;
    line-height: 24px;
    margin-right: 60px;
}

.article8 {
    display: flex;
}

.article8 .article-contain {
    margin-left: 20px;
    margin-bottom: 20px;
}

.article8 h3 {
    font-size: 18px;
    line-height: 28px;
}

.article8 p {
    font-size: 14px;
    line-height: 24px;
    margin-right: 60px;
}

.article9 {
    display: flex;
}

.article9 .article-contain {
    margin-left: 20px;
    margin-bottom: 20px;
}

.article9 h3 {
    font-size: 18px;
    line-height: 28px;
}

.article9 p {
    font-size: 14px;
    line-height: 24px;
    margin-right: 60px;
}

.section:nth-child(3) footer {
    display: flex;
    margin:50px 50px;
    justify-content: space-between;
}

.section:nth-child(3) footer a {
    text-decoration: none;
}

/*seccion-contacto*/

.section:nth-child(4) {
    width: 1270px;
    height: 869px;
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    color: white;
}

.work {
    width: 940px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work h1 {
    font-size: 36px;
    font-weight: normal;
    line-height: 46px;
    width: 304px;
    height: 92px;
    margin-bottom: 40px;
}

.work p {
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    width: 460px;
    height: 80px;
}

.work .boton {
    width: 220px;
    height: 56px;
    background: #5A98D0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work a {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    color: inherit;
}

.section2 {
    border-top: 1px solid #FFFFFF;
}

.afrianska {
    width: 940px;
    height: 300px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.afrianska h2 {
    margin-bottom: 20px;
}

.afrianska .contact h2 {
    font-size: 28px;
}


.afrianska .contact h2 {
    margin-bottom: 50px;
}

.contenido-contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.direccion::before {
    content: ".A";
    margin-right: 20px;
}

.direccion p {
    display: inline;
}

.telefono::before {
    content: ".T";
    margin-right: 20px;
}

.telefono p {
    display: inline;
}

.correo::before {
    content: "E";
    margin-right: 20px;
}

.correo p {
    display: inline;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: normal;
}

.follow {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.follow a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    font-weight: normal;
}

.derechos {
    width: 940px;
    margin: 0 auto;
}

/*responsive*/

@media screen and (max-width:430px) {

    body {
        width: 424px;
        height: 4895px;

    }

    /*seccion-home*/
    
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .log {
        margin-left: 0;
    }
    
    .menu {
        width: 256px;
        height: 28px;
        left: 917px;
        top: 51px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
    }
    
    .menu ul {
        display: flex;
        list-style: none;
    }
    
    .menu a {
        font-size: 14px;
        text-decoration: none;
        margin-left: 25px;
    }

    .main {
        width: 424px;
        height: 250px;
        background-image: url(../images/banner.png);
    }

    .main h1 {
        position: absolute;
        width: 138.77px;
        height: 68px;
        left: 142.87px;
        top: 158px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
    }
    
    .main p {
        position: absolute;
        width: 242.11px;
        height: 60px;
        left: 90.95px;
        top: 244px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 23px;
    }

    .search {
        margin: 50px 0;
    
    }
    
    .search input {
        width: 386px;
        height: 56px;

    }
    
    .search img {
        position: absolute;
        left: 16.5%;
        top: 11.7%;
    }


    .article1 {
        flex-direction: column;
        align-items: center;
    }   

    .article-img img {
        width: 424px;

    }

    .articles234 {
        flex-direction: column;
        align-items: center;
    }

    /*seccion-populares*/

    .section:nth-child(2) {
        width: 424px;
        height: 1900px;
    }

    .article4 {
        display: none;
    }

    .section:nth-child(3) {
        height: 1150px;
        width: 424px;
    }

    .article5 {
        flex-direction: column;
    }
    .article6 {
        flex-direction: column;
    }
    .article7 {
        display: none;
    }
    .article8 {
        display: none;
    }
    .article9 {
        display: none;
    }

    .section:nth-child(4) {
        height: 1220px;
        width: 424px;
    }

    .work {
        width: 404px;
        height: 330px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .work h1 {
        font-size: 28px;
        font-weight: normal;
        line-height: 38px;
        width: 319px;
        height: 76px;
        margin-bottom: 20px;
    }
    
    .work p {
        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
        width: 338px;
        height: 80px;
    }
    
    .work .boton {
        width: 360px;
        height: 56px;
        background: #5A98D0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .work a {
        text-decoration: none;
        font-size: 16px;
        line-height: 26px;
        font-weight: normal;
        color: inherit;
    }

    .afrianska {
        width: 424px;
        height: 750px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .derechos {
        width: 424px;
        margin-top: 20px;

    }


}